/* Temel stil ayarları */
body {
    font-family: Arial, sans-serif;
    margin: 5;
    padding: 5;
    background-color: #f0f0f0;
}

header {
    background-color: #000080;
    color: #ffb6c1;
    text-align: center;
    padding: 1em 0;
}

header ul {
    list-style-type: none;
    padding: 0;
}

header li {
    display: inline;
    margin-right: 20px;
}

header a {
    text-decoration: none;
    color: #ffb6c1;
}

section {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #ffb6c1;
    border: 1px solid #ffb6c1;
    border-radius: 5px;
}

footer {
    text-align: center;
    background-color: #000080;
    color: #fff;
    padding: 10px 0;
}

/* Görsel stillemeleri */
img {
    max-width: 50%;
    height: auto;
    display: block;
    margin: 0 auto;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba (0, 0, 0, 0.2);
}

/* Bölüm stillemeleri */
section {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #ffb6c1;
    border: 1px solid #ffb6c1;
    border-radius: 5px;
    text-align: center;
}




